{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":0},"end":{"row":8,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"e9df3461833bba4d790cc8b68e0b1a287e8b322b","undoManager":{"mark":0,"position":-1,"stack":[]},"timestamp":1414875390460}